header {
    background-color: #1abc9c;

}

.banner {
    margin-top: 175px;
    margin-bottom: 100px;
    text-align: center;
}

.banner-title img {
    height: 250px;
}

.banner-title {
    color: white;

}

.banner-title h1 {

    font-size: 55px;
    font-weight: 600;
    text-transform: uppercase;
}



.line {
    width: 150px;
    display: inline-block;
    border: 3px solid white;
    margin-bottom: 12px;
}

.star {
    object-position: center;
}

.star .fa-star {
    font-size: 35px;
    padding:0 10px;
}

.portfolio {
    background-color: white;

    /* delete */
    height: 800px;
}

.portfolio {
    text-align: center;
}

.portfolio h2 {
    text-transform: uppercase;
    color: #2c3e50;
    font-size: 45px;
    font-weight: 600;
    margin-top: 100px;
}

.portfolio .line {
    border: 3px solid #2c3e50;
}

.portfolio .star {
    color: #2c3e50;
}
